data_gen/__pycache__
torchlight/__pycache__
feeder/__pycache__
graph/__pycache__
net/__pycache__
net/utils/__pycache__
optim/__pycache__

data_gen/ntu/raw_data
data_gen/ntu/denoised_data
data_gen/ntu/NTU60_CS.npz
data_gen/ntu/NTU60_CV.npz
data_gen/nturgbd_raw/

runs/evaluate
runs/pretrain